<div id="addNewProductModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
      <span class="close">&times;</span>
          <table border='1'>
              <tr>
                  <th>Add New Product from headers dir</th><th>Value</th>
              </tr>
              <tr>
                  <td>MerchantId</td>
                  <td><h4 id='merchantId'> </h4></td>
              </tr>
  
              <tr>
                  <td>price</td>
                  <td><input type='text' id='new_price' value="" size='20'></td>
              </tr>
              <tr>
                  <td>instock</td>
                  <td><input type='text' id='new_instock' value="" size='20'></td>
              </tr>
              <tr>
                  <td>brand</td>
                  <td><input type='text' id='new_brand' value="" size='20'></td>
              </tr>
              <tr>
                  <td>cbd</td>
                  <td><input type='text' id='new_cbd' value="" size='20'></td>
              </tr>
              <tr>
                  <td>description</td>
                  <td><input type='text' id='new_description' value="" size='40'></td>
              </tr>
              <tr>
                  <td>farm</td>
                  <td><input type='text' id='new_farm' value="" size='40'></td>
              </tr>
              <tr>
                  <td>harvest</td>
                  <td><input type='text' id='new_harvest' value="" size='40'></td>
              </tr>
              <tr>
                  <td>name</td>
                  <td><input type='text' id='new_name' value="" size='40'></td>
              </tr>
              <tr>
                  <td>product</td>
                  <td><input type='text' id='new_product' value="" size='40'></td>
              </tr>
              <tr>
                  <td>strain</td>
                  <td><input type='text' id='new_strain' value="" size='40'></td>
              </tr>
              <tr>
                  <td>thc</td>
                  <td><input type='text' id='new_thc' value="" size='40'></td>
              </tr>
              <tr>
                  <td>type</td>
                  <td><input type='text' id='new_type' value="" size='40'></td>
              </tr>
  
              <tr>
                  <td>Weight ( gram ) or number</td>
                  <td><input type='text' id='new_Wt_Num' value="" size='40'></td>
              </tr>
              <tr>
                  <td></td>
                  <td><button onClick="saveAddThing()">Save New Product</button></td>
              </tr>
          </table>
  
  
    </div>
  
  </div>

      <script>

const ids_of_the_inputs_for_new_product = [
    "new_price", 
        "new_instock",
        "new_cbd",
        "new_brand",
        "new_description",
        "new_farm",
        "new_harvest",
        "new_name",
        "new_product",
        "new_strain",
        "new_thc",
        "new_type",
        "new_Wt_Num"] 


function saveAddThing() { 
    const headers = { "Content-Type": "application/json" }

    let the_new_product_to_add = {}

    ids_of_the_inputs_for_new_product.forEach((key)=>{
        const value = document.getElementById(key).value
        const realKey = key.replace("new_", "")
        the_new_product_to_add[realKey] = value
     })

       const body = JSON.stringify(the_new_product_to_add )
        const requestOptions = {
            method: 'POST',
            headers,
            body,
            redirect: 'follow'
        };
        fetch("/add_new_product_for_a_merchant", requestOptions)
            .then(response => response.json())
            .then(obj => {
                    alert( JSON.stringify( obj ) )

                // document.getElementById("vendingMachine").innerHTML = table; 
            })
            .catch(error => {
                console.log("%c This was an error because: " + error.message, "background:lightred;")
            })


}
</script>

  <script>
    const modal = document.getElementById("addNewProductModal");
    const span = document.getElementsByClassName("close")[0];
    function addNewProduct() { 
        try { 
            document.getElementById("merchantId").innerHTML = merchantId
            modal.style.display = "block";
        } 
        catch( boom ) {
            alert( boom )
        }
    }
    

    function clearOutTheForm() { 
        ids_of_the_inputs_for_new_product.forEach((id)=> { 
            document.getElementById(id).value = ""
        })
  
  


    }


    
    // When the user clicks on <span> (x), close the modal and do NOT save
    span.onclick = function() {
        clearOutTheForm()
        modal.style.display = "none";
    }
    
    // When the user clicks anywhere outside of the modal, close it and do NOT save 
    window.onclick = function(event) {
      if (event.target == modal) {
        clearOutTheForm()
        modal.style.display = "none";
      }
    }
    </script>