<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <meta charset="UTF-8">
    <title>Dispense</title>
    <link rel="stylesheet" href="/static/style.css">

    <style>
#checkbox_div input[type="checkbox"]
{
 width:20px;
 height:20px;
}

    </style>


    <script src="/static/make_tables.js"></script>
    

    <script>
        const vendingMachines = JSON.parse('{{ vendingMachines | tojson }}')
        const inventory2 = JSON.parse('{{ inventory2 | tojson }}')

        

        </script>
</head>
<body>
    {% include "headers/isLoggedinHeader.html" %}



        FILL vendingMachines


        <hr>

        {{vendingMachines}}
        <hr/>



<!-- begin snippet: js hide: false console: true babel: null -->




<script type="text/javascript">
    function hide_show_table(col_name)
    {
     var checkbox_val=document.getElementById(col_name).value;
     if(checkbox_val=="hide")
     {
      var all_col=document.getElementsByClassName(col_name);
      for(var i=0;i<all_col.length;i++)
      {
       all_col[i].style.display="none";
      }
      document.getElementById(col_name+"_head").style.display="none";
      document.getElementById(col_name).value="show";
     }
        
     else
     {
      var all_col=document.getElementsByClassName(col_name);
      for(var i=0;i<all_col.length;i++)
      {
       all_col[i].style.display="table-cell";
      }
      document.getElementById(col_name+"_head").style.display="table-cell";
      document.getElementById(col_name).value="hide";
     }
    }
    </script>
    </head>
    <body>
    <div id="wrapper">
        <table border='1'>
            <tr>
                <td valign='top'>
                    <table border='1'>
                        <tr><td><button onClick="toggle('itemId')">itemId</button></td></tr>
                        <tr><td><button onClick="toggle('price')">price</button></td></tr>
                            <tr><td><button onClick="toggle('instock')">instock</button></td></tr>
                            <tr><td><button onClick="toggle('deployed')">deployed</button></td></tr>
                            <tr><td><button onClick="toggle('brand')">brand</button></td></tr>
                            <tr><td><button onClick="toggle('cbd')">cbd</button></td></tr>
                            <tr><td><button onClick="toggle('desc')">desc</button></td></tr>
                            <tr><td><button onClick="toggle('farm')">farm</button></td></tr>
                            <tr><td><button onClick="toggle('harvest')">harvest</button></td></tr>
                            <tr><td><button onClick="toggle('name')">name</button></td></tr>
                            <tr><td><button onClick="toggle('strain')">strain</button></td></tr>
                            <tr><td><button onClick="toggle('thc')">thc</button></td></tr>
                            <tr><td><button onClick="toggle('type')">type</button></td></tr>
                            <tr><td><button onClick="toggle('weight')">weight</button></td></tr>
                            <tr><td><button onClick="toggle('count')">count</button></td></tr>
                            <tr><td><button onClick="toggle('product')">product</button></td></tr>
                    </table>


                </td>
                <td valign='top'>
                    <div id="inventory" > </div>
                </td>
                <td valign='top'>
                </td>
            </tr>
        </table>



        <script>


            let showHide = {
                
                itemId:true, 
                price:true,
                instock:true,
                deployed:true,
                brand:false,
                cbd:true,
                desc:false,
                farm:false,
                harvest:false,
                name:false,
                strain:true,
                thc:true,
                type:true,
                weight:true,
                count:true,
                product:true
            } 

            let columns  = {
                
                itemId:0, 
                price:2,
                instock:3,
                deployed:4,
                brand:5,
                cbd:6,
                desc:7,
                farm:8,
                harvest:9,
                name:10,
                strain:11,
                thc:12,
                type:13,
                weight:14,
                count:15,
                product:16
            } 



            function toggle(key) {
                console.log("toggle " + key )
                if ( showHide[key] == true ) {
                    showHide[key] = false 
                } else {
                    showHide[key] = true 
                }
                makeInventoryTable2()
            }

            function makeInventoryTable2() { 

                let table = "<table border='1'>"
                    table += "<tr>"
                    for ( let key in showHide ) { 
                        const n = columns[key]
                        const bool = showHide[key]
                        if ( bool === true ) { 
                            table += "<th>" + key + "</th>"
                        }
                    }
                    table += "</tr>"


                inventory2.forEach((row, i)=> { 
                    let tr = "<tr>"
                    if ( showHide['itemId'] === true ){ tr += `<td class="number">${row[0]}</td>`}
                    if ( showHide['price'] === true ){ tr += `<td class="number">${row[2]}</td>`}
                    if ( showHide['instock'] === true ){ tr += `<td class="number">${row[3]}</td>`}
                    if ( showHide['deployed'] === true ){ tr += `<td class="number">${row[4]}</td>`}
                    if ( showHide['brand'] === true ){ tr += `<td class="number">${row[5]}</td>`}
                    if ( showHide['cbd'] === true ){ tr += `<td class="number">${row[6]}</td>`}
                    if ( showHide['desc'] === true ){ tr += `<td class="desc">${row[7]}</td>`}
                    if ( showHide['farm'] === true ){ tr += `<td >${row[8]}</td>`}
                    if ( showHide['harvest'] === true ){ tr += `<td >${row[9]}</td>`}
                    if ( showHide['name'] === true ){ tr += `<td >${row[10]}</td>`}
                    if ( showHide['strain'] === true ){ tr += `<td >${row[11]}</td>`}
                    if ( showHide['thc'] === true ){ tr += `<td >${row[12]}</td>`}
                    if ( showHide['type'] === true ){ tr += `<td >${row[13]}</td>`}
                    if ( showHide['weight'] === true ){ tr += `<td >${row[14]}</td>`}
                    if ( showHide['count'] === true ){ tr += `<td >${row[15]}</td>`}
                    if ( showHide['product'] === true ){ tr += `<td >${row[16]}</td>`}

                    tr += "</tr>"
                    table += tr 
                })  
                document.getElementById("inventory").innerHTML = table 
            }
            makeInventoryTable2()

</script>
    

<button onClick="makeInventoryTable2()">make again</button>

    </div>

    <hr/>


</body>

</html>