<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <meta charset="UTF-8">
    <title>Dispense</title>
    <link rel="stylesheet" href="/static/style.css">

    <style>
#checkbox_div input[type="checkbox"]
{
 width:20px;
 height:20px;
}

#age_col_head {
    display:none
}
.age_col {
    display:none
}

    </style>


    <script src="/static/make_tables.js"></script>
    

    <script>
        const vendingMachines = JSON.parse('{{ vendingMachines | tojson }}')
        const inventory = JSON.parse('{{ inventory | tojson }}')

        </script>
</head>
<body>
    {% include "headers/isLoggedinHeader.html" %}



        FILL vendingMachines

{{inventory}}

        <hr>

        {{vendingMachines}}
        <hr/>



<!-- begin snippet: js hide: false console: true babel: null -->




<script type="text/javascript">
    function hide_show_table(col_name)
    {
     var checkbox_val=document.getElementById(col_name).value;
     if(checkbox_val=="hide")
     {
      var all_col=document.getElementsByClassName(col_name);
      for(var i=0;i<all_col.length;i++)
      {
       all_col[i].style.display="none";
      }
      document.getElementById(col_name+"_head").style.display="none";
      document.getElementById(col_name).value="show";
     }
        
     else
     {
      var all_col=document.getElementsByClassName(col_name);
      for(var i=0;i<all_col.length;i++)
      {
       all_col[i].style.display="table-cell";
      }
      document.getElementById(col_name+"_head").style.display="table-cell";
      document.getElementById(col_name).value="hide";
     }
    }
    </script>
    </head>
    <body>
    <div id="wrapper">
    
<input type="checkbox" value="hide" id="name_col" onchange="hide_show_table(this.id);">Name
<input type="checkbox" value="hide" id="age_col" onchange="hide_show_table(this.id);">Age
<input type="checkbox" value="hide" id="city_col" onchange="hide_show_table(this.id);">City
    
    <table id="employee_table" align="center" cellpadding=10>
    <tr>
     <th>S.no</th>
     <th id="name_col_head">Name</th>
     <th id="age_col_head">Age</th>
     <th id="city_col_head">City</th>
    </tr>
    
    <tr>
     <td>1</td>
     <td class="name_col">Amit</td>
     <td class="age_col">26</td>
     <td class="city_col">Agra</td>
    </tr>
    
    <tr>
     <td>2</td>
     <td class="name_col">Rahul</td>
     <td class="age_col">22</td>
     <td class="city_col">Mumbai</td>
    </tr>
    
    <tr>
     <td>3</td>
     <td class="name_col">Manoj</td>
     <td class="age_col">31</td>
     <td class="city_col">Delhi</td>
    </tr>
    
    <tr>
     <td>4</td>
     <td class="name_col">Rashmi</td>
     <td class="age_col">25</td>
     <td class="city_col">Bhopal</td>
    </tr>
    
    <tr>
     <td>5</td>
     <td class="name_col">Shivam</td>
     <td class="age_col">23</td>
     <td class="city_col">Jaipur</td>
    </tr>
    
    </table>
    
    </div>

</body>

</html>