<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <meta charset="UTF-8">
    <title>Dispense</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="/static/make_tables.js"></script>
    
    <script>
        const vendingMachines = JSON.parse('{{ vendingMachines | tojson }}')
        const inventory = JSON.parse('{{ inventory | tojson }}')

    </script>
</head>

<body>
    {% include "headers/isLoggedinHeader.html" %}
    <div id="stores"></div>
   <button onClick='addNewProduct()'>Add a product</button>
    <!-- <button id="myBtn">Open Modal</button> -->

<!-- The Modal -->
<div id="addNewProductModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
        <table border='1'>
            <tr>
                <th>Add New Product</th><th>Value</th>
            </tr>
            <tr>
                <td>MerchantId</td>
                <td id='merchantId'></td>
            </tr>

            <tr>
                <td>price</td>
                <td><input type='text' id='new_price' value="" size='20'></td>
            </tr>
            <tr>
                <td>instock</td>
                <td><input type='text' id='new_instock' value="" size='20'></td>
            </tr>
            <tr>
                <td>brand</td>
                <td><input type='text' id='new_instock' value="" size='20'></td>
            </tr>
            <tr>
                <td>cbd</td>
                <td><input type='text' id='new_cbd' value="" size='20'></td>
            </tr>
            <tr>
                <td>description</td>
                <td><input type='text' id='new_description' value="" size='100'></td>
            </tr>
            <tr>
                <td>farm</td>
                <td><input type='text' id='new_farm' value="" size='100'></td>
            </tr>
            <tr>
                <td>harvest</td>
                <td><input type='text' id='new_harvest' value="" size='100'></td>
            </tr>
            <tr>
                <td>name</td>
                <td><input type='text' id='new_name' value="" size='100'></td>
            </tr>
            <tr>
                <td>product</td>
                <td><input type='text' id='new_product' value="" size='100'></td>
            </tr>
            <tr>
                <td>strain</td>
                <td><input type='text' id='new_strain' value="" size='100'></td>
            </tr>
            <tr>
                <td>thc</td>
                <td><input type='text' id='new_thc' value="" size='100'></td>
            </tr>
            <tr>
                <td>type</td>
                <td><input type='text' id='new_type' value="" size='100'></td>
            </tr>

            <tr>
                <td>Weight ( gram ) or number</td>
                <td><input type='text' id='new_Wt_Num' value="" size='100'></td>
            </tr>
            <tr>
                <td></td>
                <td><button onClick="saveAddThing()">Save New Product</button></td>
            </tr>



        </table>


  </div>

</div>

    <hr/>

                <div id="merchantInventory"></div>
                <hr/>
                <div id="vendingMachine"></div> 

                


    <br />



    <script>
    function showVendingMachine(vendingMachineId) {
        alert(vendingMachineId)
    } 
    let merchantId = 0 




        function create_vending_machine_matrix() { 
        const rows = ['a', 'b', 'c', 'd', 'e', 'f'] 
                const cols = [1,2,3,4,5,6]
                
                let table = "<table border='1'>"
                table += "<tr>"
                cols.forEach((c)=> { 
                    table += "<th>RC</th><th>Count</th><th>Item Id</th>"
                }) 
                table += "</tr>"
                
                rows.forEach((r)=> { 
                    table += "<tr>"
                    cols.forEach((c)=> { 
                        const rowcol = r + c 
                        table += `<td class='rc'>${rowcol}</td><td class='rc_number' id='${rowcol}'>0</td><td class='rc_number' id='${rowcol}_item'>-</td>` 
                    })
                    table += "</tr>"
                })
                table += "</table>"
                // console.log( table)
                document.getElementById("vendingMachine").innerHTML = table 
            } 

        try { 
            const data = JSON.parse('{{ stores | tojson }}')
            merchantId = data[0][0]
            const stores = [] 
            data.forEach((datum)=> { 
                const obj = {
                    merchantId:datum[0],
                    storeId:datum[1],
                    storeName:datum[2],
                    storeAddress:datum[3],
                    merchantName:datum[4],
                    billing_address:datum[5],
                    phone:datum[6],
                    vending:"vending"
                }
                stores.push(obj)
            })
            let keys = Object.keys(stores[0])
            let table = "<table border='1' id='stores'><tr>"
            keys.forEach((key)=> { 
                table += "<th>" + key + "</th>"
            })
            table += "</tr>"

            stores.forEach((store)=> { 
                table += "<tr>"
                keys.forEach((key)=> { 
                    if ( key === "vending") {
                        // Create buttons for EACH vending machine in this store. 
                        // If a store has zero machines...   ...no buttons. 
                        // If a store has 20 machines...  20 buttons. 
                        // We might want to think of a machine naming convension.
                        let buttons = "" 
                        const storeId = store["storeId"]
                        vendingMachines[storeId].forEach((vendingId)=> { 
                            buttons += `<button onClick='showVendingMachine(${vendingId})'>${vendingId}</button>`
                        }) 
                        table += "<td>" + buttons + "</td>"
                    } else {
                        const value = store[key]
                        table += "<td>" + value + "</td>"
                    }
                })
                table += "</tr>"
            })
            table += "</table>"
            document.getElementById("stores").innerHTML = table
        } catch( error) { 
            console.log( error )
            alert( error)
        }



    </script>
    
    <script>
    makeInventoryTable(inventory, "merchantInventory")
    create_vending_machine_matrix()

    </script>





<script>
const modal = document.getElementById("addNewProductModal");
const span = document.getElementsByClassName("close")[0];
function addNewProduct() { 
    try { 
        document.getElementById("merchantId").innerHTML = merchantId
        modal.style.display = "block";
    } 
    catch( boom ) {
        alert( boom )
    }
}


// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>

</body>

</html>