

<!DOCTYPE html>
<html>
  <head>
    <style>
      </style>
        <link rel="icon" href="data:;base64,iVBORw0KGgo=">
        <meta charset="UTF-8">
        <title>Dispense</title>
        <link rel="stylesheet" href="/static/style.css">
  </head>
  <body>
    {% include "headers/isLoggedinHeader.html" %}
    merchant.html
    <div id="storesTable"></div>
    <hr/>
    <script>

        function getInventory( storeid_fk, merchantId_fk,machineId ) { 
            alert( storeid_fk + "  " +  merchantId_fk + "    " + machineId )
        }

        function makeStoreAndVendingMachineTable(stores, vendingMachines) {
            function createVendingMachineTBody(storeId) { 
                let btns = [] 
                vendingMachines.forEach((vm)=> { 
                    if ( vm.storeid_fk === storeId ) {
                         const btn = `<button onClick='getInventory(${vm.storeid_fk}, ${vm.merchantId_fk}, "${vm.machineId}")'>merchantId=${vm.merchantId_fk}, storeId=${vm.storeid_fk}, id=${vm.machineId}</button>`                          
                         btns.push(btn)
                    }
                })
                return btns
            }

            let table = "<table border='1' class='storeTable'><tr>"
            let keys = Object.keys(stores[0])
            keys.forEach((column)=>{
                table += "<th>" + column + "</th>"
            })
            table += "</tr>"
            stores.forEach((store)=> { 
                table += "<tr>"
                keys.forEach((k)=> {
                    const v = store[k]
                    table += `<td>${v}</td>`
                })
                table += "</tr>"
                let btns = createVendingMachineTBody(store["storeId"])
                btns.forEach((btn)=> { 
                    table += "<tr><td colspan='2' style='background:white'>"  + btn + "</td></tr>"
                })


            })
            table += "</table>"
            document.getElementById("storesTable").innerHTML = table
        }


        const vendingMachines = JSON.parse('{{ vendingMachines | tojson }}')  
        const stores = JSON.parse('{{ stores | tojson }}')

        console.log("vendingMachine")
       //  console.log(vendingMachines )
        //console.log("sotres")
        makeStoreAndVendingMachineTable(stores, vendingMachines)


//        console.log( JSON.stringify(stores, null, 2 ) )
    </script>
    <script src="/static/bag_of_functions.js"></script>
  </body>
</html>