<!DOCTYPE html>
<html>

<head>
  <style>
  </style>
  <link rel="icon" href="data:;base64,iVBORw0KGgo=">
  <meta charset="UTF-8">
  <title>Dispense</title>
  <link rel="stylesheet" href="/static/style.css">
</head>

<body>

  {% include "headers/notLoggedinHeader.html" %}
  <input type="text" id="search" value="" placeholder="Search"> <button onClick="doSearch()">search doSearch </button>
  <div id="productsTable"></div>
  <hr />
  <script>
    const HIGH_VALUE_WORDS = ["pre-roll", "hybrid", "oil", "sativa", "tincture", "calm", "edibel", "gummie", "gummy", "concentrate", "wax"]


  </script>
  <script>
//     const DESC_INDEX = 2
//     const SCORE_INDEX = 4
//     function doSearch() {
//       let text = document.getElementById("search").value
//       if( text !== undefined && text.length > 0 ) {
//         const t1 = new Date().getTime()
//         text = text.toLowerCase();
//         const words = text.split(/\W+/).filter(Boolean);
//         for ( let i = 0 ; i < products.length; i++ ) {
//           products[i][SCORE_INDEX] = 0 
//         }
// console.log( HIGH_VALUE_WORDS )
//         products.forEach((product)=> { 
//           words.forEach((word) => { 
//             if ( product[DESC_INDEX].includes(word)) {
//               product[SCORE_INDEX] += 1
//               console.log("score " + word )
//               if ( HIGH_VALUE_WORDS.includes(word)) {
//                 console.log("HVW! " + word )
//                 product[SCORE_INDEX] += 10
//               }
//             }
//           }) 
//         })
//       // products.sort((a, b) => b.score -  a.score );
//       products.sort((a, b) => b[SCORE_INDEX] - a[SCORE_INDEX]);
//       makeProductsTable()

//       const milsec = new Date().getTime() - t1
//       console.log("%c Sorted in " + milsec , "background:lightgreen" )
//       console.log(words)

//       } 
//     }

    function doSearch() {
      let text = document.getElementById("search").value
      if( text !== undefined && text.length > 0 ) {
        const t1 = new Date().getTime()
        text = text.toLowerCase();
        const words = text.split(/\W+/).filter(Boolean);
        for ( let i = 0 ; i < products.length; i++ ) {
          products[i].score = 0 
        }

        products.forEach((product)=> { 
          words.forEach((word) => { 
            if ( product.desc.includes(word)) {
              product.score += 1
              if ( HIGH_VALUE_WORDS.includes(word)) {
                product.score += 10
              }
            }
          }) 
        })
      // products.sort((a, b) => b.score -  a.score );
      products.sort((a, b) => b.score - a.score);
      makeProductsTable()

      const milsec = new Date().getTime() - t1
      console.log("%c Sorted in " + milsec , "background:lightgreen" )
      console.log(words)

      } 
    }


  </script>


  <script>
    // const UID = 0
    // const IMAGE = 1 
    // const DESCRIPTION = 2

    // function sortByInnerList(list, index) {
    //   return list.sort((a, b) => a[index].localeCompare(b[index]));
    // }

    // function sortTheProducts(whatToSortOn) {

    //   if ( whatToSortOn == UID ) { 

    //   }


    //   sortTheProducts

    //   products = sortByInnerList(products, index)
    //   makeProductsTable()
    // }

    function makeProductsTable() {

      let table = "<table border='1' class='productTable'>"
      table += "<tr>"
      
      table += `<th>id</th>`
      table += `<th><a href="javascript:sortTheProducts(UID)">uid</a></th>`
      table += `<th><a href="javascript:sortTheProducts(DESCRIPTION)">DESC</a></th>`
      table += `<th><a href="javascript:sortTheProducts(IMAGE)">IMAGE</a></th>`
      table += `<th >Score</th>`
      table += "</tr>"


      products.forEach((product) => {

        table += "<tr>"
        table += `<td class="theRight">${product.rowId}</td>`
        table += `<td class="theRight">${product.uid}</td>`
        table += `<td class="theRight">${product.desc}</td>`


        if (product.img_path === "#") {
          table += `<td class="theCenter">TODO</td><td></td>`
        } else {
          table += `<td class="theCenter"><img src="static/images/${product.img_path}"></img></td>`
        }
        table += `<td class="theRight">${product.score}</td>`
        table += "</tr>"
      })
      table += "</table>"
      document.getElementById("productsTable").innerHTML = table
    }


    let products = JSON.parse('{{ products | tojson }}')
    makeProductsTable()
   //  sortTheProducts(1)
        // makeProductsTable(products)
  </script>
  <!-- <script src="/static/bag_of_functions.js"></script> -->
</body>

</html>